.sidebar-menu {
  font-size: 1em;
}

.sidebar-menu ul li a {
  display: block;
  padding: 0.625rem 1.5rem;
  padding-left: 0px;
  min-width: 1.75rem;
  color: #c2c2c2;
  position: relative;
  font-weight: 600;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.sidebar-menu ul li a span {
  display: inline-block;
  margin-left: 0px;
  padding-left: 0px;
  min-width: 1.75rem;
  padding-bottom: 0.125em;
  font-size: 1.07rem;
  line-height: 1.40625rem;
  vertical-align: middle;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.sidebar-menu ul li .badge {
  margin-top: 4px;
}
.main-content {
  margin-left: 250px;
}

.zindex-sticky {
  z-index: 10;
}
.main-content {
  margin-left: 250px;
}

@media (max-width: 992px) {
  .sidebar-enable .vertical-menu {
    display: block;
  }
  .vertical-menu {
    display: none;
  }
  .main-content {
    margin-left: 0 !important;
  }
}

@media (max-width: 380px) {
  .navbar-brand-box {
    display: none;
  }
}

@media (max-width: 585px) {
  .support-btn, .div-badge, .badge  {
    display: none;
  }
}

.div-badge {
  display: inline-block;
}
.footer {
  left: 250px;
  height: 60px;
  background-color: #eff2f7;
  z-index: 15;
}
.sidebar-menu ul li a {
  color: #c2c2c2;
  font-weight: 600;
}
@media (max-width: 992px) {
  .footer {
    left: 0;
  }
}

.vertical-menu {
  width: 250px;
  background: #f3f6fb;
  bottom: 0;
  position: fixed;
  top: 70px;
  z-index: 12;
  overflow-y: scroll;
}

.main-content {
  margin-left: 250px;
}

.sidebar-menu {
  padding: 10px 0 30px 0;
}
.sidebar-menu ul li a {
  display: block;
  padding: 0.625rem 2.5rem;
  color: #c2c2c2;
  position: relative;
  font-weight: 600;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.sidebar-menu ul li a:hover {
  color: #dc3545;
}

.simplebar-offset {
  overflow: hidden;
}

.simplebar-height-auto-observer {
  display: block;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
}
.vertical-menu menu-active {
  overflow: scroll;
}

.menu-active {
  color: #dc3545;
}
.menu-active .active {
  color: #dc3545;
}
.menu-active .active i {
  color: #dc3545;
}
.menu-active > i {
  color: #dc3545;
}

body[data-sidebar="dark"].toggle-menu
  .vertical-menu
  .sidebar-menu
  ul
  li.menu-active
  .active {
  color: #dc3545;
}
body[data-sidebar="dark"].toggle-menu
  .vertical-menu
  .sidebar-menu
  ul
  li.menu-active
  .active
  i {
  color: #dc3545;
}

body[data-sidebar="dark"] .menu-active {
  color: #ffffff !important;
}
body[data-sidebar="dark"] .menu-active > i {
  color: #ffffff !important;
}
body[data-sidebar="dark"] .menu-active .active {
  color: #ffffff !important;
}
body[data-sidebar="dark"] .menu-active .active i {
  color: #ffffff !important;
}
.outer {
  display: block;
  text-align: center;
}

figure.embed,
figure.embed-top,
figure.overlay,
figure.embed-over {
  display: inline-block;
  text-align: initial;
  vertical-align: top;
  position: relative;
  margin: 0.5em;
  font-size: 0.8em;
  background: white;
  overflow: hidden;
}
figure.embed img,
figure.embed-top img,
figure.overlay img,
figure.embed-over img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure.embed figcaption,
figure.embed-top figcaption,
figure.overlay figcaption,
figure.embed-over figcaption {
  width: 100%;
  padding: 0.5em;
  /* neutral theme */
  color: rgba(50, 50, 50, 1);
  background: rgba(200, 200, 200, 0.825);
}

figcaption {
  display: block;
}

iframe {
  border: 0;
  position: relative;
  min-height: 40px;
  top: 19px;
}