.react-tel-input .special-label {
  background: none;
  line-height: 1em;
  top: -22px;
  left: -0.6px;
  font-size: 16px;
}

.react-tel-input .country-list {
  color: black;
}
.react-tel-input .country-list .country.highlight {
  color: blue;
}

.react-tel-input .flag-dropdown {
  color: blue;
}

.react-tel-input .flag-dropdown li:hover {
  color: blue;
}
