@media only screen and (max-height: 667px) {
  .error-box .error-title {
    font-size: 100px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #fff, 6px 6px 0 #343a40;
    line-height: 210px;
  }
}
.bg-dark {
  background-color: #343a40 !important;
}

.error-box .error-body {
  padding-top: 5%;
}
.error-box .error-title {
  font-size: 210px;
  font-weight: 900;
  text-shadow: 4px 4px 0 #fff, 6px 6px 0 #343a40;
  line-height: 210px;
}

.error-box .error-body {
  padding-top: 5%;
}

.text-danger {
  color: #f62d51 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #e60a31 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important;
}

.text-muted {
  color: #a1aab2 !important;
}

.dark-body {
  color: #5e5c7f;
  background-color: #303030;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 565px) {
  .error-box .error-title {
    font-size: 90px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #fff, 6px 6px 0 #343a40;
    line-height: 210px;
  }
}
